.map {
  position: relative;
  margin-bottom: 60px;
  &_inner {
    position: relative;
    max-width: 1420px;
    width: 100%;
    min-height: 630px;
  }
  &_logo {
    position: absolute;
    @include flex-all-center;
    width: 96px;
    height: 96px;
    background-color: #fff;
    border-radius: 50%;
    top: 23%;
    left: 41%;
    filter: drop-shadow(0px 0px 20px rgba(215, 215, 215, 0.25));
    z-index: 10;
  }
  &_contact-form {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 626px;
    width: 100%;
    z-index: 10;
  }
  &_contacts {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(215, 215, 215, 0.25);
    padding: 40px 34px 34px 30px;
    margin-bottom: 0;

    h2 {
      font-size: clamp(1.375rem, 1.23rem + 0.73vw, 1.875rem);
    }
    img {
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }

    .location {
      .address {
        font-size: 18px;
        font-weight: 500;
        vertical-align: super;
      }
    }
    .phone {
      padding-right: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.06);
      margin-right: 30px;
      margin-bottom: 20px;
    }

    hr {
      background: rgba(0, 0, 0, 0.06);
      height: 1px;
      border: none;
      margin-bottom: 20px;
    }
  }
  &_form {
    padding: 24px 34px 30px 30px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    background: #F7F7F7;
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px;
    }
    form {
      @include flex-all-center;
      flex-direction: column;
      input {
        width: 100%;
        border-radius: 10px;
        background: #FFF;
        padding: 20px;
        border: none;
        margin-bottom: 10px;
      }
      input:nth-child(2) {
        margin-bottom: 16px;
      }
      button {
        padding: 24px 0 23px;
        max-width: unset;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        &::after {
          background-image: url('../img/figure-big.svg');
          left: 102px;
          width: 144px;
          height: 68px;
        }
      }
    }
  }
}
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}


.ymaps-2-1-79-copyright__link {
  display: none;
}
.ymaps-2-1-79-inner-panes {
  border-radius: 24px;
  .ymaps-2-1-79-user-selection-none{
    position: relative;
    // cursor: auto !important;
    z-index: 1000 !important;
  }
}

@include small-tablet {

  .map_logo {
    display: none;
  }
  .map_inner {
    padding: 20px;
  }
  .map_contact-form {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
  }
}
@media (max-width: (1300px)) {
  .map_contact-form {
    max-width: 550px;
  }
  .ymaps-2-1-79-map {
    min-height: 680px;
  }
}
@media (max-width: (769px)) {
  .ymaps-2-1-79-map {
    max-height: 630px;
  }
}
@media (max-width: (640px)) {
  .map {
    .contacts {
      flex-direction: column;
      h2 {
        font-size: 28px;
      }
    }
  }
}
