<section class="benefits">
  <div class="container">
    <h2 class="benefits_title title">Наши преимущества</h2>
    <div class="benefits_items flex">
      <div class="benefits_item">
        <div class="benefits_image">
          <svg xmlns="http://www.w3.org/2000/svg" width="199" height="167" viewBox="0 0 199 167" fill="none">
            <circle cx="99.5" cy="67.5" r="99.5" fill="#F89608"/>
          </svg>
          <img src="./img/benefits/image-one.png" alt="image" loading="lazy">
        </div>
        <div class="benefits_desc"><span>Прямые контакты</span><br>
          с производителем&nbsp;запчастей</div>
      </div>
      <div class="benefits_item">
        <div class="benefits_image">
          <svg xmlns="http://www.w3.org/2000/svg" width="199" height="167" viewBox="0 0 199 167" fill="none">
            <circle cx="99.5" cy="67.5" r="99.5" fill="#F89608"/>
          </svg>
          <img src="./img/benefits/image-two.png" alt="image" loading="lazy">
        </div>
        <div class="benefits_desc"><span>Быстрые поставки товара</span>
          для клиентов</div>
      </div>
      <div class="benefits_item">
        <div class="benefits_image">
          <svg xmlns="http://www.w3.org/2000/svg" width="199" height="167" viewBox="0 0 199 167" fill="none">
            <circle cx="99.5" cy="67.5" r="99.5" fill="#F89608"/>
          </svg>
          <img src="./img/benefits/image-three.png" alt="image" loading="lazy">
        </div>
        <div class="benefits_desc"><span>В наличии десятки тысяч</span> запчастей и комплектующих</div>
      </div>
      <div class="benefits_item">
        <div class="benefits_image">
          <svg xmlns="http://www.w3.org/2000/svg" width="199" height="167" viewBox="0 0 199 167" fill="none">
            <circle cx="99.5" cy="67.5" r="99.5" fill="#F89608"/>
          </svg>
          <img src="./img/benefits/image-four.png" alt="image" loading="lazy">
        </div>
        <div class="benefits_desc"><span>10 лет на рынке </span>продажи запчастей для спецтехники</div>
      </div>
    </div>
  </div>
</section>
