<section class="choice">
  <div class="container">
    <nav class="nav choice_nav" title="">
      <ul class="list-reset nav__list choice_list flex">
        <li class="nav__item"><a href="#" class="nav__link choice_link">Главная </a></li>
        <li class="nav__item"><a href="#" class="nav__link choice_link">Погрузчики ковшевые</a></li>
      </ul>
    </nav>
    <div class="choiсe_name flex">
      <div class="choiсe_image"><img src="./img/choise/transport/transport-1.png" alt="transport"></div>
      <div class="choiсe_title">
        <h1 class="title-choice">Погрузчики ковшевые</h1>
        <span class="choice-desc">На складе 10000 наименований</span>
      </div>
    </div>
    <h4 class="title-manufacturers">Производители</h4>
    <div class="choice_items choice_manufacturers flex">
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/manufacturers/jcb.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">JCB</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/manufacturers/volvo.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">Volvo</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/manufacturers/liebherr.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">Liebherr</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/manufacturers/xcmg.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">XCMG</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
    </div>
  </div>
</section>
