<section class="catalog">
  <div class="container">
    <h2 class="catalog_title title">
      Каталог запчастей по технике и типу
    </h2>
    <div class="catalog_items">
      <div class="catalog_item">
        <img src="./img/catalog/engines.png" alt="engines" loading="lazy">
        <h4>Двигатели</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/bucket-loaders.png" alt="bucket-loaders.png" loading="lazy">
        <h4>Погрузчики ковшевые</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/telescopic-loaders.png" alt="telescopic-loader" loading="lazy">
        <h4>Погрузчики телескопические</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/backhoe-loader.png" alt="backhoe-loader" loading="lazy">
        <h4>Эскаватор-погрузчик</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/excavator.png" alt="excavator" loading="lazy">
        <h4>Эскаваторы</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/bulldozers.png" alt="Bulldozers" loading="lazy">
        <h4>Бульдозеры</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/tractors.png" alt="tractors" loading="lazy">
        <h4>Тракторы</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/graders.png" alt="graders" loading="lazy">
        <h4>Автогрейдеры</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/rollers.png" alt="rollers" loading="lazy">
        <h4>Катки</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/Dump-Trucks.png" alt="Dump-Trucks" loading="lazy">
        <h4>Самосвалы</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/hydraulics.png" alt="hydraulics" loading="lazy">
        <h4>Гидравлика</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/cranes.png" alt="cranes" loading="lazy">
        <h4>Краны</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/transmission.png" alt="transmission" loading="lazy">
        <h4>Трансмиссия</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/filters.png" alt="filters" loading="lazy">
        <h4>Фильтры</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item">
        <img src="./img/catalog/miscellaneous.png" alt="miscellaneous" loading="lazy">
        <h4>Разное</h4>
        <p>На складе 10000 наименований</p>
      </div>
      <div class="catalog_item catalog--different">
        <div class="avatar flex">
          <img src="./img/avatar.png" alt="class" loading="lazy">
          <div class="avatar-title">
            Алексей Багрянцев
            <span class="block">Онлайн сейчас</span>
          </div>
        </div>
        <div class="catalog_desc">
          <h4>Нужно много запчастей?</h4>
          <span>Оставьте заявку и мы подберем все&nbsp;за<br> вас, соберем заказ и оформим доставку</span>
        </div>
        <button type="button" class="catalog_btn">Перезвоните</button>
        <img class="filters-img" src="./img/catalog/filters-2.png" alt="filters" loading="lazy">
      </div>
    </div>
  </div>
</section>
