<section class="choice">
  <div class="container">
    <nav class="nav choice_nav" title="">
      <ul class="list-reset nav__list choice_list flex">
        <li class="nav__item"><a href="#" class="nav__link choice_link">Главная </a></li>
        <li class="nav__item"><a href="#" class="nav__link choice_link">Погрузчики ковшевые</a></li>
      </ul>
    </nav>
    <div class="choiсe_name flex">
      <div class="choiсe_image"><img src="./img/choise/manufacturers/jcb.png" alt="model"></div>
      <div class="choiсe_title">
        <h1 class="title-choice">Погрузчики ковшевые JСB</h1>
        <span class="choice-desc">На складе 10000 наименований</span>
      </div>
    </div>
    <h4 class="title-models">Модели</h4>
    <div class="choice_items choice_models flex">
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/transport/transport-2.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">JCB 3cx</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/transport/transport-2.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">JCB 3cx</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/transport/transport-2.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">JCB 3cx</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="./img/choise/transport/transport-2.png" alt="manufacturers">
        </div>
        <div class="choice_item_name">JCB 3cx</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
    </div>
  </div>
</section>
