<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512"  href="./icon/android-chrome-512x512.png">
  <link rel="manifest" href="./site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="./icon/mstile-150x150.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>INTEGRAL Магазин запчастей для спец.техники.</title>
  <link rel="preload" href="./fonts/GilroyRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/GilroyMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/GilroySemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/GilroyBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/MontserratSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/RalewayLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/RalewayRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/RalewayMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/RalewaySemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script
  src="https://api-maps.yandex.ru/2.1/?apikey=6f154834-46e7-4370-a5db-c7bc62f90fbf&lang=ru_RU"
  type="text/javascript">
  </script>
  <script defer src="js/main.js"></script>
</head>
