<section class="text choice">
  <div class="container">
    <nav class="nav text_nav choice_nav">
      <ul class="list-reset nav__list single-product_list choice_list flex">
        <li class="nav__item"><a href="#" class="nav__link text_link choice_link">Главная </a></li>
        <li class="nav__item"><a href="#" class="nav__link text_link choice_link">Покупателям</a></li>
      </ul>
    </nav>
    <div class="text_inner">
      <div class="text_wrap">
        <h1 class="text_title" >H1 Покупателям</h1>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
        <p>Не только мы ставим перед собой цель быть быстрыми, но также мы стремимся предложить вам лучшую цену на запчасти, которую можно найти в России. Мы тщательно анализируем рынок и работаем напрямую с производителями, чтобы обеспечить вам конкурентоспособные цены без ущерба для качества.</p>
        <p>Если у вас возникли особые требования или вы не уверены, какую именно запчасть вам нужно приобрести, не стесняйтесь обратиться к нам. Наша команда экспертов всегда готова помочь вам подобрать необходимые запчасти и найти аналоги, которые будут идеально соответствовать вашим потребностям.</p>
        <p class="text-dofferent">Мы делаем все возможное, чтобы сделать ваши покупки запчастей максимально удобными и приятными. Отправьте нам запрос или свяжитесь с нашей командой для получения подробной информации. </p>
      </div>
      <div class="text_wrap">
        <h2 class="text_title" >H2 Покупателям</h2>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
      </div>
      <div class="text_wrap">
        <h3 class="text_title" >H3 Покупателям</h3>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
      </div>
      <div class="text_wrap">
        <h4 class="text_title" >H4 Покупателям</h4>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
      </div>
      <div class="text_wrap">
        <h5 class="text_title" >H5 Покупателям</h5>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
      </div>
      <div class="text_wrap">
        <h6 class="text_title" >H6 Покупателям</h6>
        <p class="text--different">Мы ценим ваше время и делаем все возможное, чтобы обеспечить быструю и эффективную поставку запчастей для вашей спецтехники. Поэтому с радостью объявляем, что все запчасти под заказ будут доставлены вам в течение всего 7-ми дней!</p>
        <p>Мы осознаем, насколько важно для вас получить необходимые запчасти в кратчайшие сроки, чтобы минимизировать время простоя вашей техники и продолжить свою работу без лишних задержек. Поэтому мы гарантируем, что каждая поставка будет осуществлена оперативно и точно в указанный срок.</p>
      </div>
    </div>
  </div>
</section>
