<section class="cart choice">
  <div class="container">
    <nav class="nav cart_nav choice_nav">
      <ul class="list-reset nav__list cart_list choice_list flex">
        <li class="nav__item"><a href="#" class="nav__link cart_link choice_link">Главная </a></li>
        <li class="nav__item"><a href="#" class="nav__link cart_link choice_link">Корзина</a></li>
      </ul>
    </nav>
    <h1 class="title">Ваша корзина <span class="total">4 товара</span></h1>
    <button type="button" class="remove-cart">Очистить корзину</button>
    <div class="cart_inner flex">
      <div class="cart_content-wrapper">
        <div class="cart_content flex">
          <div class="cart_content-img"><img src="../img/assortment/single-product.png" alt="product"></div>
          <div class="cart_content-text">
            <button type="button" class="close">X</button>
            <h2 class="cart_content-title">29070013221 Шестерня полуоси</h2>
            <div class="cart_content-article flex">
              <div class="cart_content-article-name">
                <span>Артикул</span>
                <span>Каталожный номер:</span>
              </div>
              <div class="cart_content-article-number">
                <span>S0000008565</span>
                <span>29070013221</span>
              </div>
            </div>
            <div class="cart_total-price flex">
              <div class="cart_price">
                <h2>10000 ₽</h2>
                <span>5000 <span class="name--ru">₽</span> /шт. </span>
              </div>
              <div class="cart_total">
                <button class="cart_total-minus" type="button"></button>
                <span class="cart_total-num">2</span>
                <button class="cart_total-plus" type="button"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="cart_content flex">
          <div class="cart_content-img"><img src="../img/assortment/single-product.png" alt="product"></div>
          <div class="cart_content-text">
            <button type="button" class="close">X</button>
            <h2 class="cart_content-title">29070013221 Шестерня полуоси</h2>
            <div class="cart_content-article flex">
              <div class="cart_content-article-name">
                <span>Артикул</span>
                <span>Каталожный номер:</span>
              </div>
              <div class="cart_content-article-number">
                <span>S0000008565</span>
                <span>29070013221</span>
              </div>
            </div>
            <div class="cart_total-price flex">
              <div class="cart_price">
                <h2>10000 ₽</h2>
                <span>5000 <span class="name--ru">₽</span> /шт. </span>
              </div>
              <div class="cart_total">
                <button class="cart_total-minus" type="button"></button>
                <span class="cart_total-num">2</span>
                <button class="cart_total-plus" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart_form">
        <div class="cart_form-title">Заполните данные для оформления заказа</div>
        <form action="">
          <input type="text" placeholder="Ваше имя и фамилия">
          <input type="text" placeholder="Ваш номер телефона">
          <input type="text" placeholder="Электронный адресс">
          <textarea placeholder="Комментарий к заказу"></textarea>
          <button type="submit" class="btn-figure">Оформить заказ</button>
        </form>
      </div>
    </div>
  </div>
</section>
