<section class="choice">
  <div class="container">
    <nav class="nav choice_nav" title="">
      <ul class="list-reset nav__list choice_list flex">
        <li class="nav__item"><a href="#" class="nav__link choice_link">Главная </a></li>
        <li class="nav__item"><a href="#" class="nav__link choice_link">Погрузчики ковшевые</a></li>
        <li class="nav__item"><a href="#" class="nav__link choice_link">Двигатель</a></li>
      </ul>
    </nav>
    <div class="choiсe_name">
      <div class="choiсe_title">
        <h1 class="title-choice">Запчасти для JCB 3cx. Двигатель</h1>
        <span class="choice-desc">На складе 10000 наименований</span>
      </div>
    </div>
    <div class="choice_items choice_node flex">
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="../img/choise/spares/pumps.png" alt="pumps">
        </div>
        <div class="choice_item_name">Помпы</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="../img/choise/spares/pistons.png" alt="pistons">
        </div>
        <div class="choice_item_name">Поршни</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="../img/choise/spares/Cylinder-head.png" alt="Cylinder-head">
        </div>
        <div class="choice_item_name">Головка ГБЦ</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
      <div class="choice_item">
        <div class="choice_item_img">
          <img src="../img/choise/spares/crankshaft.png" alt="crankshaft">
        </div>
        <div class="choice_item_name">Коленвал</div>
        <div class="choice_items_amount">240 товаров</div>
      </div>
    </div>
  </div>
</section>
