<section class="warehouse">
  <div class="container">
    <div class="warehouse_wrapper">
      <div class="warehouse_content">
        <div class="warehouse_title title">Фото нашего склада в Европе</div>
        <div class="warehouse_desc">
          Имея такой склад, мы постоянно поддерживаем наличие более <span>5000</span> наименований товаров,
          поэтому вам не нужно будет ждать много времени на свой заказ
        </div>
      </div>
      <div class="warehouse_images">

        <div class="warehouse_img">
          <picture>
            <source srcset="./img/warehouse-left.webp" type="image/webp">
            <img loading="lazy" src="./img/warehouse-left.png" class="image"  alt="warehouse">
          </picture>
        </div>
        <div class="warehouse_img">
          <picture>
            <source srcset="./img/warehouse-right.webp" type="image/webp">
            <img loading="lazy" src="./img/warehouse-right.png" class="image" alt="warehouse">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
