// colors

  // base
  $font-family: "Gilroy", sans-serif;
  $font-familyM: 'Montserrat', sans-serif;
  $font-familyR: 'Raleway', sans-serif;
  $content-width: 1420px;
  $container-offset: 15px;
  $container-width: calc($content-width + ($container-offset) * 2);

  // colors
  $light: #DADADA;
  $light-grey: #F9F9F9;
  $orange: #F89608;
  $light-orange: #F0A230;
  $grey: #929292;
  $silver-grey: #959595;
  $dark-grey: #939393;
  $lime: #00FF38;
  $silver-white: #C2C2C2;
  $red: #F00;
  $light-white: #F7F7F7;
  $grey-other: #A7A7A7;
  $white-grey: #BCBCBC;
  $peachPink: #FFEACB;
